*{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    width: 600px;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.imagem-gato{
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin-top: 10px;
}

h3{
    margin: 10px;
    padding: 5px;
    color: rgb(13, 83, 19);

}

p{
    font-size: 17px;
    padding: 5px;
    margin-bottom: 15px;

}

.gene{
    color: rgb(23, 71, 204);
}

.botao{
    margin: 25px;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;
}